#include "../../internals/md/banner-logo.md"

<h1 align="center">
  @tidy-ui/{{name}}
  <a href="https://www.npmjs.com/package/@tidy-ui/{{name}}">
    <img alt="npm (scoped)" src="https://img.shields.io/npm/v/@tidy-ui/{{name}}" />
  </a>
</h1>
#include "../../internals/md/checks.md"

#include "../../internals/md/project-description.md"

## Installation

```cmd
yarn add @tidy-ui/{{name}}
```

```cmd
npm i @tidy-ui/{{name}}
```

#include "../../internals/md/getting-started.md"