import React, { forwardRef } from 'react';
import { css,styled } from '@tidy-ui/commons';
import { I{{ properCase name }}Props } from './types';

const {{ properCase name }} = forwardRef<HTMLDivElement, I{{ properCase name }}Props>(
  (props, ref) => {
    const { children, ...rest } = props;
    return (
      <div ref={ref} role="{{ name }}" {...rest}>
        {children}
      </div>
    );
  }
);

{{ properCase name }}.defaultProps = {
  
};

export { {{ properCase name }} };
